$primary-color: #7f56d9;
$skill-fill-selected: #ede6ff;
$background-color-modal: #cfcfcf3c;
$base-text-color-light-bg: #667085;
$base-text-color-dark-bg: #ffffff;
$base-font-family: Inter;

/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: $base-font-family;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
}

.landingpage {
  width: 100vw;
  height: 100vh;

  .logocontainer {
    height: 92vh;
    margin: 2vh 0 0 10vw;

    .logoImg {
      max-height: 100%;
    }
  }
}

// **********
// Containers
// **********
.parent {
  display: flex;
  min-height: 100vh;
}

.children {
  margin: auto;
  max-width: 20%;
}

.split-6 {
  display: flex;
  flex-direction: row;
}

.landingpage-image {
  background-image: url("./images/landing-page.jpg");
  background-color: #cccccc;
  border-radius: 0px 64px;
}

.change-email-form {
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
  flex: 1;
  padding: 0 20px 0 20px;
}

.update-email-input {
  flex-grow: 1;
  margin: 15px 0 15px 15px;
  border-radius: 8px;
  border: 1px solid $primary-color;
  padding: 8px;
  background: $skill-fill-selected;
}

.update-email {
  width: 10%;
  padding: 8px;
  margin: 5px 0 5px 20px;
  border: 3px solid $primary-color;
  background: $primary-color;
  color: $base-text-color-dark-bg;
  border-radius: 8px;
  &:hover {
    border: 1px solid white;
  }
}

// **********
// Component level styles
// **********
.navbar {
  background: white;
  // background: linear-gradient(
  //   180deg,
  //   rgba(18, 72, 159, 1) 9%,
  //   $primary-color 52%,
  //   rgba(75, 111, 180, 1) 91%
  // );
  // box-shadow: 2px 0px 11px rgb(80, 124, 201);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f6f9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;

  .navbuttoncontainer1 {
    width: 83.6vw;
    margin-left: 3vw;
  }

  .main-navbuttoncontainer1 {
    width: 80vw;
    margin-left: 3vw;
    color: white;
  }

  .main-navbuttoncontainer2 {
    margin-left: 3.1vw;
    color: white;
  }

  .navbuttoncontainer22 {
    width: 78vw;
  }

  .aboutbutton {
    background: transparent;
    color: #667085;
    height: 3.5vh;
    border: none;
    font-size: 1em;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }

  // **********
  // Buttons
  // **********

  .authbutton {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    color: #ffffff;
    height: 30px;
    width: 70px;
    margin: 1vh 1vw;
    border: 1.2px solid white;
    border-radius: 3px;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }

  .authbutton-s {
    background: transparent;
    color: white;
    height: 30px;
    width: 70px;
    margin: 1vh 1vw;
    border: 2.2px solid white;
    border-radius: 3px;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }

  .requestsbutton {
    background: transparent;
    color: #667085;
    height: 30px;
    width: 30px;
    margin: 1vh 1vw;
    border: 1.2px solid white;
    border-radius: 50%;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }

  .requestsbutton-r {
    background: transparent;
    color: rgb(224, 240, 255);
    height: 30px;
    width: 30px;
    margin: 1vh 1vw;
    font-size: 15px;
    border: 2.2px solid white;
    border-radius: 50%;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }

  .requestsbutton-a {
    background: transparent;
    color: rgb(38, 228, 38);
    height: 30px;
    width: 30px;
    margin: 1vh 1vw;
    border: 1.2px solid rgb(38, 228, 38);
    border-radius: 50%;
    &:hover {
      border: 2px solid rgb(38, 228, 38);
      font-weight: 600;
    }
  }
}

.btn-group {
  display: felx;
  flex-direction: row;
}
.btn {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  margin: 8px 8px 8px 0;

  background: #ffffff;
  box-sizing: border-box;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $base-text-color-light-bg;
}

.btn-text {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Gray/500 */
  color: #667085;
}

.accent {
  background: #7f56d9;
  /* Primary/600 */

  border: 1px solid #7f56d9;
  box-sizing: border-box;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: $base-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* White */
  color: #ffffff;
}

// **********
// Modals
// **********
.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #cfcfcf3c;

  .modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }

  .modal_content_login {
    background-color: white;
    position: absolute;
    top: 20%;
    right: 37.5%;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  }

  .modal_content_signup {
    background-color: white;
    position: absolute;
    top: 20%;
    right: 37.5%;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  }

  .close {
    color: Black;
    float: right;
    &:hover {
      color: rgb(101, 101, 101);
      cursor: pointer;
    }
  }
}

.inactiveskillbutton {
  background: white;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
  height: 25px;
  margin: 0.2vh 0.2vw;
}

.activeskillbutton {
  background: $skill-fill-selected;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
  height: 25px;
  font-weight: 600;
  margin: 0.2vh 0.2vw;
}

.form-control {
  height: 30px;
  width: 95%;
  margin: 0.5vh 0.2vw;
  border-radius: 5px;
  border: 1px solid $primary-color;
  padding: 8px;
}

.loginbutton,
.signupbutton {
  background: $primary-color;
  color: white;
  height: 35px;
  width: 70px;
  margin: 2vh 0.2vw;
  border: 1.2px solid $primary-color;
  border-radius: 3px;
}

.form-group-add {
  margin: 1vh 0.2vw;
  font-size: 18px;
}

.loginerror-message {
  margin: 1vh 0.2vw;
  color: red;
}

.messenger {
  height: 22vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0.4vh;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  background-color: white;
  display: flex;
}

.internal-messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    text-align: center;
    margin: 2vh 50px;
  }
}

.sendmessage {
  height: 33px;
  width: 50px;
  margin: 5px 0 5px 20px;
  border: 3px solid $primary-color;
  background: $primary-color;
  color: white;
  border-radius: 5px;
  &:hover {
    border: 1px solid white;
  }
}

.close {
  color: Black;
  float: right;
  &:hover {
    color: rgb(101, 101, 101);
    cursor: pointer;
  }
}

.form-control-messenger {
  height: 30px;
  width: 360px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  border: 1px solid $primary-color;
  padding: 8px;
  background: $skill-fill-selected;
}

.form-control-admin {
  margin: 15px 0 15px 15px;
  height: 30px;
  width: calc(100% - 110px);
  border-radius: 5px;
  border: 1px solid $primary-color;
  padding: 8px;
  background: $skill-fill-selected;
}

.form-wrapperdiv {
  display: block;
  text-align: center;
}

.recepientname {
  font-weight: 600;
}

.skills-container {
  // position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
  // transform: translate(-50%, -50%);
}

.skills-inner {
  max-width: 600px;
  max-height: 80px;
  overflow: scroll;
  margin-top: 8px;
}

.skillslist-button {
  background: white;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
  height: 25px;
  margin: 0.2vh 0.2vw;
  &:hover {
    border: 2px solid $primary-color;
    // background: $primary-color;
    // color: white;
  }
}

.skillslist-button-a {
  border: 1px solid $primary-color;
  background: $primary-color;
  height: 25px;
  border-radius: 3px;
  color: white;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.requests-inner {
  width: 40vw;
  margin: 5vh 30vw;
  height: calc(95vh - 110px);
}

.requests-container {
  padding-top: 20px;
  height: calc(95vh - 175px);
  overflow: scroll;
}

.requests-name {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.requests-body {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  background: #e4edff3c;
}

.requests-body-new {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  border: 2px solid $primary-color;
  background: #e4edff3c;
}

.request {
  margin-bottom: 40px;
}

.text-inactive {
  color: red;
}

.delete-request {
  background: $primary-color;
  border: 3px solid $primary-color;
  position: relative;
  bottom: 20px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: none;
  &:hover {
    border: 1px solid white;
  }
}

.norequests {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  color: rgb(62, 52, 52);
}

.noskills {
  text-align: center;
  font-size: 2vh;
  color: rgb(62, 52, 52);
}

.admin-settings-internal {
  width: 26vw;
  height: calc(90vh - 60px);
  margin: 5vh 37vw;
  border-radius: 5px;
}

.admin-settings-addskill {
  height: 200px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  border-radius: 5px;
}

.admin-settings-skills {
  height: calc(100% - 200px);
  margin-bottom: 2vh;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  border-radius: 5px;
}

.updateEmail {
  // height: 150px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
}

.user-settings-newskills {
  // height: calc((100% - 180px) / 2);
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
}

.listofskills {
  overflow: scroll;
  // height: calc(100% - 70px);
}

.skill-add-error {
  text-align: center;
  color: red;
}

.email-changed {
  text-align: center;
  color: green;
}

.password-form {
  margin-top: 30px;
}

.skill-admin {
  display: flex;
  height: 40px;
  align-items: center;
  border: 1px solid $primary-color;
  border-radius: 5px;
  margin: 10px;
}

.skill-name-container {
  margin-left: 5%;
  flex: 1;
  font-size: 18px;
}

.skill-admin-delete {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 5%;
  background: $primary-color;
  border: 3px solid $primary-color;
  color: white;
  &:hover {
    border: 1px solid white;
  }
}

.skill-admin-add {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 5%;
  background: $primary-color;
  border: 3px solid $primary-color;
  color: white;
  &:hover {
    border: 1px solid white;
  }
}

// **********
// Text
// **********
.display-xl {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  /* or 120% */

  letter-spacing: -0.02em;
}
.page-title {
  text-align: center;
  // background: rgb(105, 146, 216);
  height: 25px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 40px;
  font-size: 18px;
  color: $base-text-color-light-bg;
  border-radius: 5px;
}

.form-title {
  text-align: center;
  height: 25px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #667085;
  border-radius: 5px;
}

.time {
  float: right;
  color: grey;
  font-size: 12px;
}

.username {
  padding: 8px;
  border-radius: 4px;
  color: #282828;
}

.isadmin {
  color: rgb(27, 232, 27);
  float: right;
  padding-top: 15px;
}

.isadmin-main {
  color: rgb(27, 232, 27);
  float: right;
}
