body {
  background-color: white;
  margin: 0;
}

.landingpage {
  width: 100vw;
  height: 100vh;

  .logocontainer {
    height: 92vh;
    margin: 2vh 0 0 10vw;

    .logoImg {
      max-height: 100%;
    }
  }
}

.navbar {
  background: rgb(18, 72, 159);
  background: linear-gradient(
    180deg,
    rgba(18, 72, 159, 1) 9%,
    rgba(51, 89, 166, 1) 52%,
    rgba(75, 111, 180, 1) 91%
  );
  box-shadow: 2px 0px 11px rgb(80, 124, 201);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  .navbuttoncontainer1 {
    width: 83.6vw;
    margin-left: 3vw;
  }

  .main-navbuttoncontainer1 {
    width: 80vw;
    margin-left: 3vw;
    color: white;
  }

  .main-navbuttoncontainer2 {
    margin-left: 3.1vw;
    color: white;
  }

  .navbuttoncontainer22 {
    width: 78vw;
  }

  .aboutbutton {
    background: transparent;
    color: white;
    height: 3.5vh;
    border: none;
    font-size: 1em;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }

  .authbutton {
    background: transparent;
    color: white;
    height: 30px;
    width: 70px;
    margin: 1vh 1vw;
    border: 1.2px solid white;
    border-radius: 3px;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }

  .requestsbutton {
    background: transparent;
    color: white;
    height: 30px;
    width: 30px;
    margin: 1vh 1vw;
    border: 1.2px solid white;
    border-radius: 50%;
    &:hover {
      border: 2px solid white;
      font-weight: 600;
    }
  }
  .requestsbutton-a {
    background: transparent;
    color: rgb(38, 228, 38);
    height: 30px;
    width: 30px;
    margin: 1vh 1vw;
    border: 1.2px solid rgb(38, 228, 38);
    border-radius: 50%;
    &:hover {
      border: 2px solid rgb(38, 228, 38);
      font-weight: 600;
    }
  }
}
.modal {
  position: fixed;
  z-index: 1;
  top: 6vh;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 161, 231, 0.235);

  .modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    height: 35vh;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }

  .modal_content_login {
    background-color: white;
    position: absolute;
    top: 20%;
    right: 37.5%;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
    height: 25vh;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  }

  .modal_content_signup {
    background-color: white;
    position: absolute;
    top: 20%;
    right: 37.5%;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  }

  .close {
    color: Black;
    float: right;
    &:hover {
      color: rgb(101, 101, 101);
      cursor: pointer;
    }
  }
}

.inactiveskillbutton {
  background: white;
  border: 1px solid rgba(51, 89, 166, 1);
  color: rgba(51, 89, 166, 1);
  border-radius: 3px;
  height: 25px;
  margin: 0.2vh 0.2vw;
}

.activeskillbutton {
  background: rgb(230, 239, 255);
  border: 1px solid rgba(51, 89, 166, 1);
  color: rgba(51, 89, 166, 1);
  border-radius: 3px;
  height: 25px;
  font-weight: 600;
  margin: 0.2vh 0.2vw;
}

.form-control {
  height: 30px;
  width: 95%;
  margin: 0.5vh 0.2vw;
  border-radius: 5px;
  border: 1px solid rgba(51, 89, 166, 1);
  background: rgba(59, 96, 171, 0.119);
}

.loginbutton,
.signupbutton {
  background: rgba(51, 89, 166, 1);
  color: white;
  height: 35px;
  width: 70px;
  margin: 2vh 0.2vw;
  border: 1.2px solid rgba(51, 89, 166, 1);
  border-radius: 3px;
}

.form-group-add {
  margin: 1vh 0.2vw;
  font-size: 18px;
}

.loginerror-message {
  margin: 1vh 0.2vw;
  color: red;
}

.messenger {
  height: 22vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0.4vh;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  background-color: white;
  display: flex;
}

.internal-messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    text-align: center;
    margin: 2vh 50px;
  }
  .sendmessage {
    height: 33px;
    width: 50px;
    margin: 5px 0 5px 20px;
    border: 1px solid rgba(51, 89, 166, 1);
    background: rgba(51, 89, 166, 1);
    color: white;
    border-radius: 5px;
  }
  .close {
    color: Black;
    float: right;
    &:hover {
      color: rgb(101, 101, 101);
      cursor: pointer;
    }
  }
  .form-control-messenger {
    height: 30px;
    width: 360px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(51, 89, 166, 1);
    background: rgba(59, 96, 171, 0.119);
  }
}

.form-wrapperdiv {
  display: block;
  text-align: center;
}

.recepientname {
  font-weight: 600;
}

.skills-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-inner {
  max-width: 600px;
  max-height: 80px;
  overflow: scroll;
  margin-top: 8px;
}

.skillslist-button {
  background: white;
  border: 1px solid rgba(51, 89, 166, 1);
  color: rgba(51, 89, 166, 1);
  border-radius: 3px;
  height: 25px;
  margin: 0.2vh 0.2vw;
  &:hover {
    border: 2px solid rgba(51, 89, 166, 1);
    // background: rgba(51, 89, 166, 1);
    // color: white;
  }
}

.skillslist-button-a {
  border: 1px solid rgba(51, 89, 166, 1);
  background: rgba(51, 89, 166, 1);
  height: 25px;
  border-radius: 3px;
  color: white;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.requests-inner {
  width: 40vw;
  margin: 5vh 30vw;
  overflow: scroll;
}

.requests-name {
  margin: 30px 0 10px 0;
  font-size: 14px;
}

.requests-body {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  background: rgba(125, 161, 231, 0.235);
}

.requests-body-new {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  border: 2px solid rgba(51, 89, 166, 1);
  background: rgba(125, 161, 231, 0.235);
}

.text-inactive{
  color: red;
}

.delete-request {
  background: rgb(18, 72, 159);
  border: 3px solid rgb(18, 72, 159);
  position: relative;
  bottom: 20px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: none;
    &:hover {
    border:1px solid white;
    }
}
