/* .Chat is the container */
.Chat {
  position: absolute;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Chat ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* This the message element */
.Chat ul li {
  padding: 12px 22px;
  margin-bottom: 2px;
  background-color: rgb(221, 221, 221);
  border-radius: 12px;
}

/* message from self */
#self {
  align-self: flex-end;
  color: white;
  background-color: #7f56d9;
}

.Chat form {
  margin-bottom: 50px;
}

.Chat form input {
  height: 40px;
  width: 360px;
}

.Chat form button {
}
